# –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ

# üéàüçæ üéâ





–í—ã —Ä–∞–±–æ—Ç–∞–µ—Ç–µ –≤ –∫—Ä—É–ø–Ω–æ–º –æ–Ω–ª–∞–π–Ω-–º–∞–≥–∞–∑–∏–Ω–µ, –∫–æ—Ç–æ—Ä—ã–π —Ä–µ–∞–ª–∏–∑—É–µ—Ç —Ç–æ–≤–∞—Ä—ã ¬´–≤—Å—ë –¥–ª—è –ø—Ä–∞–∑–¥–Ω–∏–∫–æ–≤¬ª. –í–∞–º –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ ABC-–∞–Ω–∞–ª–∏–∑ –∏ –≤—ã—è–≤–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –≤–∞–∂–Ω—ã–µ —Ç–æ–≤–∞—Ä—ã –Ω–∞ –æ—Å–Ω–æ–≤–µ –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∏ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏. –≠—Ç–∞ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è —Å–æ—Å—Ç–∞–≤–∏—Ç –ø–ª–∞–Ω –∑–∞–∫—É–ø–æ–∫ –Ω–∞ –≤–µ—Å—å —Å–ª–µ–¥—É—é—â–∏–π –≥–æ–¥.

**ABC-–∞–Ω–∞–ª–∏–∑** –ø–æ–∑–≤–æ–ª—è–µ—Ç –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –≤–∞–∂–Ω—ã–µ —Ä–µ—Å—É—Ä—Å—ã –∫–æ–º–ø–∞–Ω–∏–∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∏ –ø—Ä–∏–±—ã–ª–∏.

–í –æ—Å–Ω–æ–≤–µ ABC-–∞–Ω–∞–ª–∏–∑–∞ –ª–µ–∂–∏—Ç __¬´–ü—Ä–∏–Ω—Ü–∏–ø –ü–∞—Ä–µ—Ç–æ¬ª: 20% —Ä–µ—Å—É—Ä—Å–æ–≤ –ø—Ä–∏–Ω–æ—Å—è—Ç 80% –ø—Ä–∏–±—ã–ª–∏__. –ò–º–µ–Ω–Ω–æ —ç—Ç–æ—Ç –≤–∏–¥ –∞–Ω–∞–ª–∏–∑–∞ –ø–æ–∑–≤–æ–ª—è–µ—Ç –≤—ã–¥–µ–ª–∏—Ç—å —Ç–µ —Å–∞–º—ã–µ  –≥—Ä—É–ø–ø—ã —Ç–æ–≤–∞—Ä–æ–≤, —Ä–µ—Å—É—Ä—Å–æ–≤, –∫–ª–∏–µ–Ω—Ç–æ–≤, –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –∏ —Ç. –ø., –∫–æ—Ç–æ—Ä—ã–µ –∏ –ø—Ä–∏–Ω–æ—Å—è—Ç –∫–æ–º–ø–∞–Ω–∏–∏ –æ—Å–Ω–æ–≤–Ω—É—é –ø—Ä–∏–±—ã–ª—å.

__–ó–∞–¥–∞—á–∞ –∞–Ω–∞–ª–∏–∑–∞ —Ä–∞–∑–¥–µ–ª–∏—Ç—å —Ç–æ–≤–∞—Ä—ã –Ω–∞ –≥—Ä—É–ø–ø—ã –ø–æ –ø—Ä–∏–Ω—Ü–∏–ø—É:__

- –ê ‚Äî –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ, 20% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞ (–Ω–æ–º–µ–Ω–∫–ª–∞—Ç—É—Ä–∞); 80% ‚Äî –ø—Ä–æ–¥–∞–∂
- –í ‚Äî –ø—Ä–æ–º–µ–∂—É—Ç–æ—á–Ω—ã–µ, 30% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞; 15% ‚Äî –ø—Ä–æ–¥–∞–∂
- –° ‚Äî –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ, 50% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞; 5% ‚Äî –ø—Ä–æ–¥–∞–∂

## –ó–∞–¥–∞–Ω–∏–µ 1

–°–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã `products` –∏–∑ PostgreSQL –≤ –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º `products` –∏ –ø–æ–¥–≥–æ—Ç–æ–≤—å—Ç–µ –¥–∞–Ω–Ω—ã–µ –∫ –∞–Ω–∞–ª–∏–∑—É.

1. –ü–æ–¥–≥—Ä—É–∑–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
2. –ü–æ–¥–∫–ª—é—á–∏—Ç–µ –Ω—É–∂–Ω—É—é –±–∏–±–ª–∏–æ—Ç–µ–∫—É –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å PostgreSQL
3. –°–æ–∑–¥–∞–π—Ç–µ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –ë–î
4. –°–æ–∑–¥–∞–π—Ç–µ –∑–∞–ø—Ä–æ—Å –∏ –≤—ã–≥—Ä—É–∑–∏—Ç–µ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã `products`
5. –ü–æ–ª–æ–∂–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –≤ –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º `products`
6. –ü—Ä–∏–≤–µ–¥–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –∫ —É–¥–æ–±–Ω–æ–º—É —Ç–∏–ø—É: —á–∏—Å–ª–∞ –∫ —á–∏—Å–ª–æ–≤–æ–º—É —Ç–∏–ø—É, –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã ‚Äî –∫ —Ç–µ–∫—Å—Ç–æ–≤–æ–º—É

In [536]:
from postgresql_secret import pg_secret

In [537]:
import psycopg2

connection = psycopg2.connect(
                             database=pg_secret['db_name'],
                             user=pg_secret['db_user'],
                             password=pg_secret['db_password'],
                             host=pg_secret['db_host'],
                             port=pg_secret['db_port'],
                             )
# —Å–æ–∑–¥–∞–π —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ

cursor = connection.cursor()
# –∑–∞–≤–µ–¥–∏ –∫—É—Ä—Å–æ—Ä, —á—Ç–æ–±—ã –¥–µ–ª–∞—Ç—å –∑–∞–ø—Ä–æ—Å—ã –≤ –±–∞–∑—É

In [538]:
import pandas as pd

query = "SELECT * FROM products"
cursor.execute(query)            
result = cursor.fetchall()
# result

columns = []                 
for desc in cursor.description:  
    columns.append(desc[0]) 


products = pd.DataFrame(result, columns=columns)  # –ò–∑ —Å–ø–∏—Å–∫–∞ –∫–æ—Ä—Ç–µ–∂–µ–π —Å–¥–µ–ª–∞–µ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
products.head()

   invoice_id stock_code                      description  quantity price
0      493955      21894      POTTING SHED SEED ENVELOPES        12  1.25
1      493955      85113         POLKA DOT PISTACHIO PAIL         6  2.10
2      493955    15056BL          EDWARDIAN PARASOL BLACK         3  5.95
3      493955      20679            EDWARDIAN PARASOL RED         3  5.95
4      493955     85014B  RED/WHITE DOTS RUFFLED UMBRELLA         3  5.95

## –ó–∞–¥–∞–Ω–∏–µ 2

__–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, –∫–∞–∫–æ–π –¥–æ—Ö–æ–¥ –ø—Ä–∏–Ω–µ—Å –∫–∞–∂–¥—ã–π –ø—Ä–æ–¥—É–∫—Ç –∏ —Å–∫–æ–ª—å–∫–æ –µ–¥–∏–Ω–∏—Ü –∫–∞–∂–¥–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞ –±—ã–ª–æ –ø—Ä–æ–¥–∞–Ω–æ__

1. –ü–æ—Å—á–∏—Ç–∞–π –æ–±—â—É—é —Å—É–º–º—É –æ–ø–ª–∞—Ç –¥–ª—è –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–∏ —Å—á–µ—Ç–∞
2. –ü–æ–ª—É—á–∏ –æ–±—â–∏–π –¥–æ—Ö–æ–¥ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –µ–¥–∏–Ω–∏—Ü –ø–æ —Ç–æ–≤–∞—Ä–∞–º
3. –û–±—ä–µ–¥–∏–Ω–∏ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –≤ –æ–¥–∏–Ω –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–æ —Å—Ç–æ–ª–±—Ü–∞–º–∏: `description`, `stock_code`, `quantity`, `total`

In [540]:
products['amount'] = products.quantity * products.price

products['total'] = products.apply('amount', axis=1)
products.head()

,invoice_id,stock_code,description,quantity,price,amount,total
0,493955,21894,POTTING SHED SEED ENVELOPES,12,1.25,15.00,15.00
1,493955,85113,POLKA DOT PISTACHIO PAIL,6,2.10,12.60,12.60
2,493955,15056BL,EDWARDIAN PARASOL BLACK,3,5.95,17.85,17.85
3,493955,20679,EDWARDIAN PARASOL RED,3,5.95,17.85,17.85
4,493955,85014B,RED/WHITE DOTS RUFFLED UMBRELLA,3,5.95,17.85,17.85

In [541]:
# –ø–æ—Å—á–∏—Ç–∞–π –æ–±—â–∏—Ö –¥–æ—Ö–æ–¥ –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–æ–≤–∞—Ä—É
products_total_amount = products.groupby('stock_code')['total'].sum().reset_index()
products_total_amount.head()

  stock_code    total
0      10002  6638.27
1      10080   124.61
2      10109     1.68
3      10120   136.08
4     10123C   226.76

In [542]:
# –ø–æ—Å—á–∏—Ç–∞–π –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –µ–¥–∏–Ω–∏—Ü –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–æ–≤–∞—Ä—É
products_product_amount = products.groupby('stock_code')['quantity'].sum().reset_index()
products_product_amount.head()

  stock_code  quantity
0      10002      8479
1      10080       303
2      10109         4
3      10120       648
4     10123C       628

In [543]:
# –æ–±—ä–µ–¥–∏–Ω–∏ –æ–±—â–∏–µ –¥–∞–Ω–Ω—ã–µ –≤ –æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—É
prod = pd.merge(products_total_amount,
                    products_product_amount,
                    on='stock_code',
                    how='inner')
prod.head()

  stock_code    total  quantity
0      10002  6638.27      8479
1      10080   124.61       303
2      10109     1.68         4
3      10120   136.08       648
4     10123C   226.76       628

## –ó–∞–¥–∞–Ω–∏–µ 3

__–ù–∞–π–¥–∏ –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –ø—Ä–æ—Ü–µ–Ω—Ç–∞–º__

1. –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –ø–æ –¥–æ—Ö–æ–¥—É –≤ –Ω–∏—Å—Ö–æ–¥—è—â–µ–º –ø–æ—Ä—è–¥–∫–µ 
2. –ù–∞–π–¥–∏ –ø—Ä–æ—Ü–µ–Ω—Ç –¥–æ—Ö–æ–¥–∞ –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ –≤ –æ–±—â–µ–º –¥–æ—Ö–æ–¥–µ 
3. –°–¥–µ–ª–∞–π –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ (running total) –ø–æ –ø—Ä–æ—Ü–µ–Ω—Ç–∞–º –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞, –¥–ª—è —ç—Ç–æ–≥–æ –Ω–∞–π–¥–∏ –≤ –∏–Ω—Ç–µ—Ä–Ω–µ—Ç–µ –∏ –ø—Ä–∏–º–µ–Ω–∏ –º–µ—Ç–æ–¥ –¥–ª—è —Ä–∞—Å—á–µ—Ç–∞ –∫—É–º—É–ª—è—Ç–∏–≤–Ω–æ–π —Å—É–º–º—ã –≤ `pandas`. 


–ù–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ ‚Äî —ç—Ç–æ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö, –≤ –∫–æ—Ç–æ—Ä–æ–º –º—ã –≤–∏–¥–∏–º –¥–∏–Ω–∞–º–∏–∫—É –Ω–∞—Ä–∞—Å—Ç–∞–Ω–∏—è –∏–ª–∏ —É–±—ã–≤–∞–Ω–∏—è —Å—É–º–º—ã –æ—Ç –Ω–∞—á–∞–ª–∞ –æ—Ç—Å—á–µ—Ç–∞ –¥–æ –∫–æ–Ω—Ü–∞. –ü–æ–ª—É—á–∞–µ–º –º—ã —ç—Ç—É –∫—É–º—É–ª—è—Ç–∏–≤–Ω—É—é —Å—É–º–º—É, –ø—Ä–∏–±–∞–≤–ª–µ–Ω–∏–µ–º –ø–æ–æ—á–µ—Ä–µ–¥–Ω–æ –∫–∞–∂–¥–æ–≥–æ —Å–ª–µ–¥—É—é—â–µ–≥–æ —ç–ª–µ–º–µ–Ω—Ç–∞ –∫ —Å—É–º–º–µ –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö.

In [544]:
# –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º (–±–æ–ª—å—à–∏–µ –≤–≤–µ—Ä—Ö—É, –º–∞–ª–µ–Ω—å–∫–∏–µ –≤–Ω–∏–∑—É)
prod = prod.sort_values(['total'],ascending=False)
prod

     stock_code      total  quantity
1609      22423  277656.25     24139
4080     85123A  247203.36     91814
2726      23843  168469.60     80995
4058     85099B  167920.64     93436
4625          M  151777.67      9391
...         ...        ...       ...
4630    TEST002       1.00         1
247       20721       0.85         1
3419     84205C       0.38         2
2847      35930       0.38         1
4626       PADS       0.00        18

[4631 rows x 3 columns]

In [546]:
# –Ω–∞–π–¥–∏ –ø—Ä–æ—Ü–µ–Ω—Ç –¥–æ—Ö–æ–¥–∞ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ 

#(–∏—Å–∫–æ–º–∞—è —á–∞—Å—Ç—å / —Ü–µ–ª–æ–µ —á–∏—Å–ª–æ) * 100

#—Ü–µ–ª–æ–µ —á–∏—Å–ª–æ
prod['total_sum'] = prod['total'].sum()
prod['total_sum'] = prod.apply('total_sum', axis=1)

#–ø—Ä–æ—Ü–µ–Ω—Ç –¥–æ—Ö–æ–¥–∞ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ 
prod['percent_per_product'] = ((prod.total / prod.total_sum) * 100) 

#–¥–æ–±–∞–≤–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–∞ —Å –ø—Ä–æ—Ü–µ–Ω—Ç–æ–º
prod['percent_per_product'] = prod.apply('percent_per_product', axis=1)

#100% (–ø—Ä–æ–≤–µ—Ä–∫–∞)
# prod.total_percent = prod['percent_per_product'].sum()

prod

,stock_code,total,quantity,total_sum,percent_per_product
1609,22423,277656.25,24139,17374804.25,1.598039586546708864360299196
4080,85123A,247203.36,91814,17374804.25,1.422769180262851018882701945
2726,23843,168469.60,80995,17374804.25,0.9696201325548746829766441829
4058,85099B,167920.64,93436,17374804.25,0.9664606149447698094210183692
4625,M,151777.67,9391,17374804.25,0.8735503883446629333967892041
...,...,...,...,...,...
4630,TEST002,1.00,1,17374804.25,0.000005755460525548079196345478252
247,20721,0.85,1,17374804.25,0.000004892141446715867316893656514
3419,84205C,0.38,2,17374804.25,0.000002187074999708270094611281736
2847,35930,0.38,1,17374804.25,0.000002187074999708270094611281736
4626,PADS,0.00,18,17374804.25,0

In [547]:
# –∏—Å–ø–æ–ª—å–∑—É–π –º–µ—Ç–æ–¥ pandas –¥–ª—è –∫—É–º—É–ª—è—Ç–∏–≤–Ω–æ–π —Å—É–º–º—ã

#1 –±–µ–∑ –¥–æ–±–∞–≤–ª–µ–Ω–Ω–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞
# print(prod.cumsum(axis = 0))

#2 —Å –¥–æ–±–∞–≤–ª–µ–Ω–Ω—ã–º —Å—Ç–æ–ª–±—Ü–æ–º
prod['running_total'] = prod['percent_per_product'].cumsum(axis = 0)
prod['running_total'] = prod.apply('running_total', axis=1)
prod

,stock_code,total,quantity,total_sum,percent_per_product,running_total
1609,22423,277656.25,24139,17374804.25,1.598039586546708864360299196,1.598039586546708864360299196
4080,85123A,247203.36,91814,17374804.25,1.422769180262851018882701945,3.020808766809559883243001141
2726,23843,168469.60,80995,17374804.25,0.9696201325548746829766441829,3.990428899364434566219645324
4058,85099B,167920.64,93436,17374804.25,0.9664606149447698094210183692,4.956889514309204375640663693
4625,M,151777.67,9391,17374804.25,0.8735503883446629333967892041,5.830439902653867309037452897
...,...,...,...,...,...,...
4630,TEST002,1.00,1,17374804.25,0.000005755460525548079196345478252,99.99999073370855386759249359
247,20721,0.85,1,17374804.25,0.000004892141446715867316893656514,99.99999562585000058345981048
3419,84205C,0.38,2,17374804.25,0.000002187074999708270094611281736,99.99999781292500029172990509
2847,35930,0.38,1,17374804.25,0.000002187074999708270094611281736,99.99999999999999999999999970
4626,PADS,0.00,18,17374804.25,0,99.99999999999999999999999970

## –ó–∞–¥–∞–Ω–∏–µ 4

__–ü–æ–º–µ—Ç—å —Ç–æ–≤–∞—Ä—ã –º–µ—Ç–∫–∞–º–∏ `'A'`, `'B'`, `'C'` –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –Ω–∞—Ä–∞—Å—Ç–∞—é—â–µ–≥–æ –∏—Ç–æ–≥–∞__

1. –ù–∞–ø–∏—à–∏ —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è –±—É–¥–µ—Ç –ø–æ–º–µ—á–∞—Ç—å —Ç–æ–≤–∞—Ä—ã —Å –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–º –∏—Ç–æ–≥–æ–º –Ω–∏–∂–µ –∏–ª–∏ —Ä–∞–≤–Ω–æ 80% –∫–∞–∫ –≥—Ä—É–ø–ø—É `'A'`, –æ—Ç 80%-95% ‚Äî –∫–∞–∫ `'B'` –∏ –æ—Å—Ç–∞–ª—å–Ω—ã–µ –∫–∞–∫ `'C'`

In [548]:
prod['running_total'].describe()

count                              4631
unique                             4630
top       99.99999999999999999999999970
freq                                  2
Name: running_total, dtype: object

In [549]:
prod['running_total'] = prod['running_total'].apply(float)

In [550]:
def revenue(x):
    if x <= 80:
        return 'A'
    elif x <= 95:
        return 'B'
    else:
        return 'C'

# —Å–æ–∑–¥–∞–π –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü revenue —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏
prod['revenue'] = prod['running_total'].apply(revenue)
prod

,stock_code,total,quantity,total_sum,percent_per_product,running_total,revenue
1609,22423,277656.25,24139,17374804.25,1.598039586546708864360299196,1.598040,A
4080,85123A,247203.36,91814,17374804.25,1.422769180262851018882701945,3.020809,A
2726,23843,168469.60,80995,17374804.25,0.9696201325548746829766441829,3.990429,A
4058,85099B,167920.64,93436,17374804.25,0.9664606149447698094210183692,4.956890,A
4625,M,151777.67,9391,17374804.25,0.8735503883446629333967892041,5.830440,A
...,...,...,...,...,...,...,...
4630,TEST002,1.00,1,17374804.25,0.000005755460525548079196345478252,99.999991,C
247,20721,0.85,1,17374804.25,0.000004892141446715867316893656514,99.999996,C
3419,84205C,0.38,2,17374804.25,0.000002187074999708270094611281736,99.999998,C
2847,35930,0.38,1,17374804.25,0.000002187074999708270094611281736,100.000000,C
4626,PADS,0.00,18,17374804.25,0,100.000000,C

## –ó–∞–¥–∞–Ω–∏–µ 5

__–ù–∞–π–¥–∏ –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Ç–æ–≤–∞—Ä–Ω—ã—Ö –µ–¥–∏–Ω–∏—Ü –∏ –ø–æ–º–µ—Ç—å —Ç–æ–≤–∞—Ä—ã –º–µ—Ç–∫–∞–º–∏ `'A'`, `'B'`, `'C'`, –æ—Ç–º–µ—á–∞—è —Ç–µ–º —Å–∞–º—ã–º –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å —Ç–æ–≤–∞—Ä–∞__

1. –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –ø—Ä–µ–¥—ã–¥—É—â–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å –¥–∞–Ω–Ω—ã–º–∏ –æ –¥–æ—Ö–æ–¥–µ —Ç–µ–ø–µ—Ä—å –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Ç–æ–≤–∞—Ä–æ–≤
2. –ù–∞–π–¥–∏ –ø—Ä–æ—Ü–µ–Ω—Ç –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ –≤ –æ–±—â–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ
3. –ù–∞–π–¥–∏ –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É
4. –ù–∞–ø–∏—à–∏ —Ñ—É–Ω–∫—Ü–∏—é —Å —Ç–µ–º–∏ –∂–µ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏, —á—Ç–æ –∏ —É –¥–æ—Ö–æ–¥–∞
5. –û—Ç–º–µ—Ç—å –≥—Ä—É–ø–ø—É

In [551]:
# –ø—Ä–æ–≤–µ–¥–∏ —Ç–µ –∂–µ –æ–ø–µ—Ä–∞—Ü–∏–∏, —á—Ç–æ –≤ –¥–≤—É—Ö –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö –∑–∞–¥–∞–Ω–∏—è—Ö, –¥–ª—è –æ—Ü–µ–Ω–∫–∏ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏ —Ç–æ–≤–∞—Ä–æ–≤

#—Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Ç–æ–≤–∞—Ä–æ–≤
prod = prod.sort_values(['quantity'],ascending=False)
# prod.head()

In [552]:
# –Ω–∞–π–¥–∏ –ø—Ä–æ—Ü–µ–Ω—Ç –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ –≤ –æ–±—â–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ ((–∏—Å–∫–æ–º–∞—è —á–∞—Å—Ç—å / —Ü–µ–ª–æ–µ —á–∏—Å–ª–æ) * 100)
#—Ü–µ–ª–æ–µ —á–∏—Å–ª–æ
prod['total_quantity'] = prod['quantity'].sum()
prod['total_quantity'] = prod.apply('total_quantity', axis=1)

#–ø—Ä–æ—Ü–µ–Ω—Ç –¥–æ—Ö–æ–¥–∞ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ 
prod['percent_per_quantity'] = ((prod.quantity / prod.total_quantity) * 100) 

#–¥–æ–±–∞–≤–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–∞ —Å –ø—Ä–æ—Ü–µ–Ω—Ç–æ–º
prod['percent_per_quantity'] = prod.apply('percent_per_quantity', axis=1)
# prod.head()

In [553]:
# –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É
prod['running_quantity'] = prod['percent_per_quantity'].cumsum(axis = 0)
prod['running_quantity'] = prod.apply('running_quantity', axis=1)
# prod.head()

In [554]:
# prod['running_total'].describe()

In [555]:
def quantity(x):
    if x <= 80:
        return 'A'
    elif x <= 95:
        return 'B'
    else:
        return 'C'
    
# —Å–æ–∑–¥–∞–π –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü popularity —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏
prod['popularity'] = prod['running_quantity'].apply(quantity)
# prod

In [556]:
# prod.head()
prod.head()

,stock_code,total,quantity,total_sum,percent_per_product,running_total,revenue,total_quantity,percent_per_quantity,running_quantity,popularity
3410,84077,24098.03,105185,17374804.25,0.1386952604084733789159092253,34.446876,A,10528705,0.999031,0.999031,A
4058,85099B,167920.64,93436,17374804.25,0.9664606149447698094210183692,4.956890,A,10528705,0.887441,1.886471,A
4080,85123A,247203.36,91814,17374804.25,1.422769180262851018882701945,3.020809,A,10528705,0.872035,2.758506,A
601,21212,43390.03,89850,17374804.25,0.2497296048673469227718061917,18.467322,A,10528705,0.853381,3.611888,A
2726,23843,168469.60,80995,17374804.25,0.9696201325548746829766441829,3.990429,A,10528705,0.769278,4.381166,A

## –ó–∞–¥–∞–Ω–∏–µ 6

__–û–±—ä–µ–¥–∏–Ω–∏ –≥—Ä—É–ø–ø—ã –∏ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π__

1. –°–æ–∑–¥–∞–π —Å–µ—Ä–∏—é `group` —Å –æ–±—ä–µ–¥–∏–Ω–µ–Ω–Ω—ã–º —Å—Ç–æ–ª–±—Ü–æ–º –æ—Ç–º–µ—Ç–æ–∫ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏ –∏ –¥–æ—Ö–æ–¥–Ω–æ—Å—Ç–∏ —Ç–æ–≤–∞—Ä–æ–≤
2. –ü–æ—Å—á–∏—Ç–∞–π –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤—Ö–æ–∂–¥–µ–Ω–∏–π –∫–∞–∂–¥–æ–π —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω–æ–π –ø–∞—Ä—ã
3. –ö–∞–∫–∏–µ –≥—Ä—É–ø–ø—ã –Ω–µ–ø–æ–ø—É–ª—è—Ä–Ω—ã –∏ –ø—Ä–∏–Ω–æ—Å—è—Ç –º–∞–ª–æ –¥–æ—Ö–æ–¥–∞?
4. –ù–∞ –∫–∞–∫–∏—Ö –≥—Ä—É–ø–ø–∞—Ö —Ç–æ–≤–∞—Ä–æ–≤ –Ω—É–∂–Ω–æ —Å—Ñ–æ–∫—É—Å–∏—Ä–æ–≤–∞—Ç—å—Å—è –ø—Ä–∏ —Å–æ—Å—Ç–∞–≤–ª–µ–Ω–∏–∏ –ø–ª–∞–Ω–∞ –∑–∞–∫—É–ø–æ–∫?

In [557]:
prod_1 = prod[['stock_code', 'total', 'quantity', 'percent_per_product', 'percent_per_quantity', 'running_total', 'running_quantity', 'revenue', 'popularity']]
prod_1

,stock_code,total,quantity,percent_per_product,percent_per_quantity,running_total,running_quantity,revenue,popularity
3410,84077,24098.03,105185,0.1386952604084733789159092253,0.999031,34.446876,0.999031,A,A
4058,85099B,167920.64,93436,0.9664606149447698094210183692,0.887441,4.956890,1.886471,A,A
4080,85123A,247203.36,91814,1.422769180262851018882701945,0.872035,3.020809,2.758506,A,A
601,21212,43390.03,89850,0.2497296048673469227718061917,0.853381,18.467322,3.611888,A,A
2726,23843,168469.60,80995,0.9696201325548746829766441829,0.769278,3.990429,4.381166,A,A
...,...,...,...,...,...,...,...,...,...
2907,37438,3.75,1,0.00002158297697080529698629554344,0.000009,99.999388,99.999962,C,C
4279,90025B,3.75,1,0.00002158297697080529698629554344,0.000009,99.999345,99.999972,C,C
4241,90004A,3.75,1,0.00002158297697080529698629554344,0.000009,99.999324,99.999981,C,C
2874,35974,3.75,1,0.00002158297697080529698629554344,0.000009,99.999280,99.999991,C,C
2936,37484,6.75,1,0.00003884935854744953457533197820,0.000009,99.997688,100.000000,C,C

In [558]:
#c–µ—Ä–∏—è group —Å –æ–±—ä–µ–¥–∏–Ω–µ–Ω–Ω—ã–º —Å—Ç–æ–ª–±—Ü–æ–º –æ—Ç–º–µ—Ç–æ–∫ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏ –∏ –¥–æ—Ö–æ–¥–Ω–æ—Å—Ç–∏ —Ç–æ–≤–∞—Ä–æ–≤
#prod_1['group_RP'] = prod_1['revenue'] + prod_1['popularity']
group_RP_column = prod_1['revenue'] + prod_1['popularity']
prod_1 = prod_1.assign(group_RP=group_RP_column)
prod_1

,stock_code,total,quantity,percent_per_product,percent_per_quantity,running_total,running_quantity,revenue,popularity,group_RP
3410,84077,24098.03,105185,0.1386952604084733789159092253,0.999031,34.446876,0.999031,A,A,AA
4058,85099B,167920.64,93436,0.9664606149447698094210183692,0.887441,4.956890,1.886471,A,A,AA
4080,85123A,247203.36,91814,1.422769180262851018882701945,0.872035,3.020809,2.758506,A,A,AA
601,21212,43390.03,89850,0.2497296048673469227718061917,0.853381,18.467322,3.611888,A,A,AA
2726,23843,168469.60,80995,0.9696201325548746829766441829,0.769278,3.990429,4.381166,A,A,AA
...,...,...,...,...,...,...,...,...,...,...
2907,37438,3.75,1,0.00002158297697080529698629554344,0.000009,99.999388,99.999962,C,C,CC
4279,90025B,3.75,1,0.00002158297697080529698629554344,0.000009,99.999345,99.999972,C,C,CC
4241,90004A,3.75,1,0.00002158297697080529698629554344,0.000009,99.999324,99.999981,C,C,CC
2874,35974,3.75,1,0.00002158297697080529698629554344,0.000009,99.999280,99.999991,C,C,CC
2936,37484,6.75,1,0.00003884935854744953457533197820,0.000009,99.997688,100.000000,C,C,CC

In [559]:
prod_2 = prod_1[['stock_code', 'total', 'quantity', 'running_total', 'running_quantity', 'group_RP']]
prod_2

     stock_code      total  quantity  running_total  running_quantity group_RP
3410      84077   24098.03    105185      34.446876          0.999031       AA
4058     85099B  167920.64     93436       4.956890          1.886471       AA
4080     85123A  247203.36     91814       3.020809          2.758506       AA
601       21212   43390.03     89850      18.467322          3.611888       AA
2726      23843  168469.60     80995       3.990429          4.381166       AA
...         ...        ...       ...            ...               ...      ...
2907      37438       3.75         1      99.999388         99.999962       CC
4279     90025B       3.75         1      99.999345         99.999972       CC
4241     90004A       3.75         1      99.999324         99.999981       CC
2874      35974       3.75         1      99.999280         99.999991       CC
2936      37484       6.75         1      99.997688        100.000000       CC

[4631 rows x 6 columns]

In [560]:
#–ü–æ—Å—á–∏—Ç–∞–π –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤—Ö–æ–∂–¥–µ–Ω–∏–π –∫–∞–∂–¥–æ–π —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω–æ–π –ø–∞—Ä—ã
prod_2['group_RP'].value_counts()

CC    2041
AA     685
BB     577
BC     377
CB     303
BA     270
AB     248
CA      72
AC      58
Name: group_RP, dtype: int64

–ö–∞–∫–∏–µ –≥—Ä—É–ø–ø—ã –Ω–µ–ø–æ–ø—É–ª—è—Ä–Ω—ã –∏ –ø—Ä–∏–Ω–æ—Å—è—Ç –º–∞–ª–æ –¥–æ—Ö–æ–¥–∞? –ù–∞ –∫–∞–∫–∏—Ö –≥—Ä—É–ø–ø–∞—Ö —Ç–æ–≤–∞—Ä–æ–≤ –Ω—É–∂–Ω–æ —Å—Ñ–æ–∫—É—Å–∏—Ä–æ–≤–∞—Ç—å—Å—è –ø—Ä–∏ —Å–æ—Å—Ç–∞–≤–ª–µ–Ω–∏–∏ –ø–ª–∞–Ω–∞ –∑–∞–∫—É–ø–æ–∫?

–ì—Ä—É–ø–ø—ã –ê–° –∏ –°–ê –Ω–µ–ø–æ–ø—É–ª—è—Ä–Ω—ã –∏ –ø—Ä–∏–Ω–æ—Å—è—Ç –º–∞–ª–æ –¥–æ—Ö–æ–¥–∞.
–ü—Ä–∏ —Å–æ—Å—Ç–∞–≤–ª–µ–Ω–∏—è –ø–ª–∞–Ω–∞ –∑–∞–∫—É–ø–æ–∫ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —Å—Ñ–æ–∫—É—Å–∏—Ä–æ–≤–∞—Ç—å—Å—è –Ω–∞ –≥—Ä—É–ø–ø–∞—Ö –°–°, –ê–ê, –í–í. –í —Å–ª—É–¥—É—é—â—É—é –æ—á–µ—Ä–µ–¥—å –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —Ä–∞—Å—Å–º–æ—Ç—Ä–µ—Ç—å —Ç–∞–∫–∂–µ –∏ –≥—Ä—É–ø–ø—ã –í–°, –°–í, –í–ê –∏ –ê–í.

## –ó–∞–¥–∞–Ω–∏–µ 7

__–í—ã–≥—Ä—É–∑–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ —Ç–æ–≤–∞—Ä–∞–º —Å –º–µ—Ç–æ–∫–æ–π –ø–æ ABC-–∞–Ω–∞–ª–∏–∑—É__

1. –û–±—ä–µ–¥–∏–Ω–∏ –ø–æ `stock_code` –≤ –æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ `ABC-–∫–æ–¥`, –æ–ø–∏—Å–∞–Ω–∏–µ —Ç–æ–≤–∞—Ä–∞ –∏ `ID `

2. –í—ã–≥—Ä—É–∑–∏ —Ç–∞–±–ª–∏—Ü—É –≤ `csv` –¥–ª—è –æ—Ç–ø—Ä–∞–≤–∫–∏ –≤ –æ—Ç–¥–µ–ª –∑–∞–∫—É–ø–æ–∫

In [561]:
ABC_analysis = pd.merge(prod_2,
                    products,
                    on='stock_code',
                    how='inner')

ABC_analysis_final = ABC_analysis[['stock_code', 'group_RP', 'description', 'invoice_id']]
ABC_analysis_final

       stock_code group_RP                         description  invoice_id
0           84077       AA   WORLD WAR 2 GLIDERS ASSTD DESIGNS      494233
1           84077       AA   WORLD WAR 2 GLIDERS ASSTD DESIGNS      494634
2           84077       AA   WORLD WAR 2 GLIDERS ASSTD DESIGNS      494666
3           84077       AA   WORLD WAR 2 GLIDERS ASSTD DESIGNS      495059
4           84077       AA   WORLD WAR 2 GLIDERS ASSTD DESIGNS      495237
...           ...      ...                                 ...         ...
779490      37438       CC             FUNKY FLOWER COFFEE POT      491697
779491     90025B       CC      BAROQUE BUTTERFLY EARRINGS RED      500356
779492     90004A       CC  JADE GREEN PAIR ENAMEL HAIR SLIDES      492075
779493      35974       CC    S/6 CHRISTMAS TREE PLACE SETTING      492423
779494      37484       CC   ENGLISH ROSE TEA FOR ONE GIFT BOX      490938

[779495 rows x 4 columns]

In [562]:
#–í—ã–≥—Ä—É–∑–∫–∞ —Ç–∞–±–ª–∏—Ü—ã –≤ csv

ABC_analysis_final.to_csv('ABC_analysis_final.csv', index=False)